@layer normalize, primevue;
@layer reset, primevue;

@import "normalize.css" layer(normalize-reset);

@layer reset {
  a {
      text-decoration: none;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





#app {
  max-width: 1280px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
